.container{
    background: url(/public/images/chuttersnap-m3ewYVannII-unsplash\ \(1\).jpg) rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.svg{
    margin: 0;
    width: 60px;
}

.path{
    stroke-dasharray: 260;
    stroke-dashoffset: 260;
    animation: write 2s 300ms ease-in-out forwards;
}

.questions_1{
    opacity: 0;
    transform: translateX(-6rem);
    animation: intro 1s 1000ms ease-in-out forwards;
}
.questions_2{
    opacity: 0;
    transform: translateX(-6rem);
    animation: intro 1s 1.8s ease-in-out forwards;
}
.questions_3{
    opacity: 0;
    transform: translateX(-6rem);
    animation: intro 1s 3.4s ease-in-out forwards;
}

.draw_arrow{
    stroke-width: 5;
    stroke: #f2f2f2; 
    fill: none;
    stroke-dasharray: 400;
    stroke-dashoffset: 400; 
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-duration: 3.0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: draw;
}

.tail_1{
    animation-delay: 2.5s;
    animation-duration: 1.5s;
}

.tail_2{
    animation-delay: 2.7s;
    animation-duration: 1.3s;
}

@keyframes draw {
    to {
       stroke-dashoffset: 0;
     }
}   

@keyframes write {
    100%{
        stroke-dashoffset: 0%;
    }
}

@keyframes intro {
    100%{
        opacity: 1;
        transform: translateX(-8rem);
    }
}

