.container{
    background: url(/public/images/chuttersnap-m3ewYVannII-unsplash\ \(1\).jpg) rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.svg{
    margin: 0;
    width: 60px;
}

.path{
    stroke-dasharray: 260;
    stroke-dashoffset: 260;
    animation: write 2s 300ms ease-in-out forwards;
}

.questions_1{
    opacity: 0;
    transform: translateX(-6rem);
    animation: intro 1s 1000ms ease-in-out forwards;
}
.questions_2{
    opacity: 0;
    transform: translateX(-6rem);
    animation: intro 1s 1.8s ease-in-out forwards;
}
.questions_3{
    opacity: 0;
    transform: translateX(-6rem);
    animation: intro 1s 3.4s ease-in-out forwards;
}

@keyframes write {
    100%{
        stroke-dashoffset: 0%;
    }
}

@keyframes intro {
    100%{
        opacity: 1;
        transform: translateX(-8rem);
    }
}