@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  overflow-x: hidden;
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

h1 {
  font-family: "Sedgwick Ave", cursive;
}

.sedgwick {
  font-family: "Sedgwick Ave", cursive;
}

input,
textarea,
p,
a {
  font-family: "Montserrat Alternates", sans-serif;
}

.montserrat {
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  background-color: "#F8F2F6";
  overflow-y: overlay;
}

* {
  scrollbar-width: auto;
  scrollbar-color: rgb(28 28 28) rgba(28 28 28 0);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(28 28 28 0.1)
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(28 28 28);
  border-radius: 15px;
}

.desktop {
  background-image: url(/public/images/joanna-kosinska-LAaSoL0LrYs-unsplash.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



