@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.sedgwick {
  font-family: "Sedgwick Ave", cursive;
}

input,
textarea,
p,
a {
  font-family: "Montserrat Alternates", sans-serif;
}

.montserrat {
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  background-color: "#F8F2F6";
  overflow-y: overlay;
}

* {
  scrollbar-width: auto;
  scrollbar-color: rgb(28 28 28) rgba(28 28 28 0);
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(28 28 28 0.1)
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(28 28 28);
  border-radius: 15px;
}

.desktop {
  background-image: url(/public/images/joanna-kosinska-LAaSoL0LrYs-unsplash.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: intro 0.5s ease-in forwards;
}

@keyframes intro {
  to{
    opacity: 1;
  }
}

@keyframes iddle {
  0%{
      transform: translateX(2);
  }50%{
      transform: translateX(0);
  }100%{
      transform: translateX(2);
  }
}

.selectedNav{
  animation: sideNavSelect 300ms ease-in-out forwards;
}

.selectedNavDark{
  animation: sideNavSelectDark 300ms ease-in-out forwards;
}

.unSelectedNav{
  animation: sideNavUnSelect 300ms ease-in-out forwards;
}

@keyframes sideNavSelectDark {
  100%{
    background-color: #1C1C1C;
  }
}

@keyframes sideNavSelect {
  100%{
    background-color: rgb(248 242 246);
  }
}

@keyframes sideNavUnSelect {
  100%{
    background-color: transparent;
  }
}

@keyframes starFallOposite {
  0% {
    transform: rotate(140deg) translateX(0);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(140deg) translateX(-1000px);
  }
}



